.cen{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:lighter;
    font-style: italic;
    color:yellow;
    height: 100vh;
    }
    .gap{
    padding: 10px;

    margin-left: 300px;
    border: 30px;
    display: inline-block;
    background-color: red;
    }
    .pink{
        background-color: blueviolet;
    }
    img{
        float:left;
    }
    .red{
    background-color: red;
    }
    .blue{
    background-color: rgb(255, 192, 237);
    }
    .green{
    background-color: rgb(0, 68, 128);
    }
     a{
    text-decoration: none;
    } 
    a:hover{
text-decoration: underline;
    }
    #table{
        
        background-color: brown;
        color: aqua;
        margin-left: 450px;
    }
    #def{

        border:10px solid black;
        padding:40px;
        background-color:rgb(0, 255, 238);;
        margin-top:100px;
    }

    
    